#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
    color: 	#bd00ff;
}

button {
    margin: 5px;
    text-wrap: nowrap;
    color: 	#00ff9f;
    border-color: #00ff9f;
}

input {
    margin: 5% 1%;
    font-size: 2vh;
}

input[type="submit"] {
    color: #00ff9f;
}

.list-item {
    display: flex;
    align-items: center;
}

li {
    width: 50%;
    margin-right: 50px;
    color: #00b8ff;
    font-size: 2vh
}